
{% extends "base.html" %}
{% block class %}
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page"></body>
{% endblock %}

{% block body%}
		<!-- #masthead -->

		<div class="wpcmsdev-tabs">
			<div class="tab">
				<h3 class="tab-title" data-tab-id="what-is-lore-ipsum">About</h3>
				<div id="tab-what-is-lore-ipsum" class="tab-content">
					<p><img style="border:10px solid #f4f5f6" src="{{ url_for('static',filename='assets/images/about1.jpeg') }}" alt="bg5" width="430" class="alignright"></p>
					<p>We provide a vintage item recommendation engine which gives product recommendations from trustworthy luxury consignment ecommerce platforms based on the item picture.</p>
					<p>If you are interested in buying vintage or secondhand fashion items online, powered by advanced deep learning algorithms, we’re committed to creating an efficient and intelligent customer journey by transforming the item searching process into just one easy click.</p>
					<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Yours, Dodo team</h2>
				</div>
			</div>
			<div class="tab">
				<h3 class="tab-title" data-tab-id="where-does-it-come-from">Our Team</h3>
				<div id="tab-where-does-it-come-from" class="tab-content">

					<ul class="products">
					
						<li class="first product">
						<a href="https://www.linkedin.com/in/eileen-wang-haoyun/">
						<img src= "{{ url_for('static',filename='assets/images/team/Eileen.jpeg') }}" alt="">
						<h3>Eileen Wang</h3>
						</li>

						<li class="product">
						<a href="https://www.linkedin.com/in/zhimin-alex-lyu/">
						<img src= "{{ url_for('static',filename='assets/images/team/Alex.jpeg') }}" alt="">
						<h3>Zhimin (Alex) Lyu</h3>
						</li>

						<li class="product">
						<a href="https://www.linkedin.com/in/tianxiang-z-3a814b133">
						<img src= "{{ url_for('static',filename='assets/images/team/Tony.jpeg') }}" alt="">
						<h3>Tianxiang (Tony) Zhou</h3>
						</li>

						<li class=" last product">
						<a href="https://www.linkedin.com/in/siwei-ma-28345856/">
						<img src= "{{ url_for('static',filename='assets/images/team/Siwei.jpeg') }}" alt="" width="100" height="100">
						<h3>Siwei Ma</h3>
						</li>

						<li class="first product">
						<a href="https://www.linkedin.com/in/yuezhao-oli/">
						<img src= "{{ url_for('static',filename='assets/images/team/Yue.jpeg') }}" alt="">
						<h3>Yue Zhao</h3>
						</li>

						<li class="product">
						<a href="https://www.linkedin.com/in/yingtong-lin/">
						<img src= "{{ url_for('static',filename='assets/images/team/Yingtong.jpeg') }}" alt="">
						<h3>Yingtong Lin</h3>
						</li>

						<li class="product">
						<a href="https://www.linkedin.com/in/yueling-wu-23a318178/">
						<img src= "{{ url_for('static',filename='assets/images/team/Yueling.jpeg') }}" alt="">
						<h3>Yueling Wu</h3>
						</li>

						<li class=" last product">
						<a href="https://www.linkedin.com/in/april-qianyun-li-a164561a9/">
						<img src= "{{ url_for('static',filename='assets/images/team/April.jpeg') }}" alt="">
						<h3>Qianyun (April) Li</h3>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- .container -->
	{% endblock %}
