<style>
	table {
	  border-collapse: collapse;
	  width: 100%;
	}
	
	th, td {
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {background-color: #f2f2f2;}
</style>

{% extends "base.html" %}
{% block class %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php"></body>
{% endblock %}

{% block body%}
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds single-portfolio">
				<main id="main" class="site-main">
					
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">Today is your fashion day, {{ name }}</h4>
							<div class="wpcmsdev-accordion">
								<div class="accordion-item">
									<h3 class="accordion-item-title"><a href="#accordion-item-what-is-lore-ipsum"><i class="fa fa-plus icon-for-inactive"></i><i class="fa fa-minus icon-for-active"></i>Account information</a></h3>
									<div id="accordion-item-what-is-lore-ipsum" class="accordion-item-content">
										<table>
											<tr>
											<th>Name</th>
											<td>{{name}}</td>
											</tr>
											<tr>
											<th>Email/Username</th>
											<td>{{username}}</td>
											</tr>
											<tr>
											<th>Mobile</th>
											<td>{{mobile}}</td>
											</tr>
										  </table>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-item-title"><a href="#accordion-item-where-does-it-come-from"><i class="fa fa-plus icon-for-inactive"></i><i class="fa fa-minus icon-for-active"></i>Searching history</a></h3>
									<div id="accordion-item-where-does-it-come-from" class="accordion-item-content">
										<p>
											Under construction
										</p>
									</div>
								</div>
								
							</div>


							<button><a href="reset_email.html">Reset your email address</a></button>
							<button><a href="reset_password.html">Reset your password</a></button>
							<button><a href="reset_name.html">Reset your name or mobile</a></button>
							<p> </p>
							<button><a href="{{url_for('logout')}}">Logout</a></button>
						</aside>
					</div>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	{% endblock %}