<style>
	img {
	  border-radius: 8px;
	}

</style>
{% extends "base.html" %}
{% block class %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php"></body>
{% endblock %}

{% block body%}
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">

				<h1 class="entry-title" style="text-align:center">Choose a picture to start your fashion journey:</h1> <br/>
					
				<form enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}" id="searchform" style="text-align:center">
					<div class="form" style="text-align:center">
						<p style="text-align:center"><input type="file" name="file" accept="image/png, image/jpeg"></p>
						<input type="submit" id="submit" class="clearfix btn" value="Start" style="text-align:center">
					</div>
				</form>
				<p style="text-align:center;"> </p>
				<p style="text-align:center;"><a href="regis.html"><img src="{{ url_for('static',filename='assets/images/index.jpeg') }}" alt="bg5" width="900"></a></p>
				<p style="text-align:center;"> </p>

					
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	{% endblock %}