{% extends "base.html" %}
{% block class %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php"></body>
{% endblock %}

{% block body%}
{% include "flash.html" %}
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds single-portfolio">
				<main id="main" class="site-main">
					
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">New Friend?</h4>
							<form class="wpcf7" method="post" action="" id="contactform">
								<div class="form">
									<p><input type="text" pattern="[A-Za-z]+" name="fname" placeholder="First name *" required></p>
									<p><input type="text" pattern="[A-Za-z]+" name="lname" placeholder="Last name *" required></p>
									<p><input type="text" name="mobile" placeholder="Mobile phone *" required></p>
									<p><input type="text" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" name="email" placeholder="E-mail / Username *" required></p>
									<p><input type="password" name="pwd" placeholder="Password *" required></p>
									<p><input type="password" name="rpwd" placeholder="Retype Password *" required></p>
									<input type="submit" id="submit" class="clearfix btn" value="Register">
								</div>
							</form>
						</aside>
					</div>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	{% endblock %}