{% extends "base.html" %}
{% block class %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php"></body>
{% endblock %}

{% block body%}
{% include "flash.html" %}
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds single-portfolio">
				<main id="main" class="site-main">
					<div class="widget-area">
						<aside class="widget">
							<h4 class="widget-title">Reset your password</h4>
							<form class="wpcf7" method="post" action="" id="contactform">
								<div class="form">
									<p><input type="password" name="opwd" placeholder="Old Password *" required></p>
									<p><input type="password" name="npwd" placeholder="New Password *" required></p>
									<p><input type="password" name="npwd2" placeholder="Retype New Password *" required></p>
									<input type="submit" id="submit" class="clearfix btn" value="Submit">
								</div>
							</form>
						</aside>
					</div>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	{% endblock %}